<style type="text/css">
	.tab-content{
		padding: 0px;
	}
</style>
<div class="block">
	<div class="content">
		<tabs change-id="changeData(changeId)">
			<pane content="实时监控" active="{{selectPane}}">
				<div ui-view="realMonitorView"></div>
				<div class="paginatorDiv" style="margin: 0;height: 0px;">
				    <ul id="aa"></ul>
				</div>
			</pane>
			<pane content="历史轨迹回放" active="{{selectPane}}">
				<div ui-view="historyView"></div>
				<div class="paginatorDiv" style="margin: 0;height: 0px;">
				    <ul id="bb"></ul>
				</div>
			</pane>
		</tabs>
	</div>
</div>

<div class="modal fade bs-example-modal-lg" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog modal-lg" role="document" style="position: fixed;top: 50%;transform: translateY(-50%);width: 100vw;margin: 0 auto;">
        <div class="modal-content" style="border:none;box-shadow: none;background-color: transparent;">
            <div class="modal-body body-animate">
                <span id="modalText">地图加载中</span><span class="d">.</span><span class="d d-2">.</span><span class="d d-3">.</span>
            </div>
        </div>
    </div>
</div>